
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body, html {
  font-family: "Georgia", 'Times New Roman', Times, serif;
  background: #101d3d;
}

a {
  color: #0099f8;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-family: "Georgia", 'Times New Roman', Times, serif;
}

h2, h3, h4, h5, h6, p {
  font-family: "Georgia", 'Times New Roman', Times, serif;
}


.img-container {
  max-width: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  justify-items: center;
  align-items: center;
  perspective: 1000px;
}


.img-box {
  width: 300px;
  height: 300px;
  margin: auto;
  background: none;
  border-radius: 5%;
  align-items: center;
  text-align: center;
  justify-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.info-box {
  min-width: 200px;
  max-width: 500px;
  width: auto;
  min-height: 200px;
  max-height: 300px;
  height: auto;
  margin: 30px;
  font-size: 24px;
  background: none;
  border-radius: 1%;
  padding: 40px;
  align-items: center;
  text-align: center;
  justify-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.info-box p {
  visibility: hidden;
}

.info-box:hover p {
  visibility: visible;
}

.info-box:hover {
  border: 2px solid white;
}

.info-box h3 {
  font-size: 30px;
}

.info-box i {
  font-size: 50px;
}

.img-box img {
  width: 200px;
  height: 200px;
}

.spon-box {
  margin: 5%;
  width: 400px;
  padding: 20px;
  height: auto;
  align-items: center;

}

.spon-box:hover {
  border-radius: 1%;
  border: 2px white;
  border-style: solid;
  box-shadow: 5px 5px 10px blue;
}

.spon-box img{
  width: 300px;
  height: auto;
}

/* Front and Back faces of the box */
.front-img-box, .back-img-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 10px;
}

/* Styles for the front side */



#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0.5;
}

.image-container {
  width: 250px;
  height: 250px;
  animation: rotate 2s infinite linear;
  transform-style: preserve-3d;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateZ(50px);
  backface-visibility: visible;
}
.home {
  background: none;
}

.video-bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-bg video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comp-container {
  width: 80%;
  height: auto;
  padding: 50px;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px;
  position: relative;
  top: 0%;
  left: 0%;
  width: auto;
  height: auto;
  min-height: 750px;
  overflow: hidden;
}

section .home {
  height: 100px;
}




.section-title {
  position: relative;
  width: 100%;
  text-align: center;
  height: 100px;
  text-transform: uppercase;
  margin: 100px 0;
}

.section-title img{
  top: 20%;
  width: 1000px;
  height: auto;
  transform: translate(0%, 60%);
}

.section-title h2 {
  font-size: 90px;
  font-family: 'Vast Shadow', Times; /* Apply Oxanium font */
  opacity: 0.75;
  position: absolute;
  top: 0%;
  left: 50%;
  color: #3264af;
  transform: translate(-50%, -100%);
  z-index: 1; /* Ensure it stays behind the paragraph */
  pointer-events: none; /* Avoid interaction with the background text */
}

#about .section-title h2 {
  color: #071527;
}

.section-title p {
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 2; /* Ensure it stays above the background text */
}

.section-main {
  width: 75%;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: #fff;
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

.section-main {
  color: #fff;
  text-shadow: 2px 2px 1px black;
}
.section-main, .section-title {

}
.section-main.animate {
  animation: fade 2s ease-in-out;
  visibility: visible;
}

.section-title.animate {
  animation: fade 2s ease-in-out;
  visibility: visible;
}


.section-main h2 {
  font-size: 35px;
}

.section-main p {
  font-size: 24px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3264af;
  z-index: 9999;
}

.spinner {
  width: 310px;
  height: 310px;
  border: 10px solid transparent;
  border-top: 10px dotted #00ffff; 
  border-right: 10px dotted #8a2be2; 
  border-bottom: 10px dotted #ff1493;
  border-left: 10px dotted #ff00ff; 
  border-radius: 50%;
  animation: spin 3s linear infinite, glow 1s ease-in-out infinite;
  position: relative;
}

.inner-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



@keyframes rotate {
  0% {
      transform: rotateY(0deg);
  }
  100% {
      transform: rotateY(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
      opacity: 0.1;
  }
  100% {
      transform: rotate(360deg);
      opacity: 1.0;
  }
}

@keyframes glow {
  0%, 100% {
      box-shadow: none
  }
  50% {
      box-shadow:  0 0 75px #00ffff, inset 0 0 75px #00ffff;
  }
}

#preloader {
  transition: opacity 0.5s ease-out;
}

#preloader.hidden {
  opacity: 0;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #071527;
  transition: all 0.5s;
  z-index: 997;
  position: fixed;
  background-position: center;
  width: 100%;
  text-transform: uppercase;
  top: 0%;
  opacity: 0.4;
}

#header:hover {
  opacity: 1;
}
#header .logo {
  height: 75px;
  width: auto;
  padding: 10px 60px;
}

#header a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 10px;
}

#header a:hover {
  color: #0099f8;
}

.row-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 14px;
  font-family:  "Georgia", 'Times New Roman', Times, serif;;
}

.nav-menu a:hover {
  color: #3264af;
}

#active a {
  color: #0099f8;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 15px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #fff;
}

.nav-menu .drop-down ul a:hover{
  color: #4d90f6;
}

.nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #071527;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}


/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 23px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #071527;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #071527;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav li:hover > a {
  color: #3264af;
  text-decoration: none;
}

.mobile-nav .active > a {
  color: #071527;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(4, 12, 21, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/


.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about {
  background-image: url(contents/Background/about.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

.counts .count-box {
  height: 100px;
  background: linear-gradient(to right, #0099f8, #3264af);
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
}

.counts .count-box i {
  display: block;
  font-size: 30px;
  color: #fff;
  float: left;
}

.counts .count-box span {
  font-size: 42px;
  line-height: 24px;
  display: block;
  font-weight: 700;
  color: #071527;
  margin-left: 50px;
}

.counts .count-box p {
  padding: 30px 0 0 0;
  margin: 0;
  color: #fff;
  font-family: "Georgia", 'Times New Roman', Times, serif;
  font-size: 24px;
}

.counts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #071527;
  font-size: 15px;
  font-family: "Georgia", 'Times New Roman', Times, serif;
  transition: ease-in-out 0.3s;
}

.counts .count-box a:hover {
  color: #3264af;
}

.row-counts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/*--------------------------------------------------------------
# Our Achievements
--------------------------------------------------------------*/
.achievements .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.achievements{
  background-image: url(contents/Background/journey.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.achievements .section-title h2{
  color: #0099f8;
}

@media (max-width: 1024px) {
  .our_achievements .content, .our_achievements .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .our_achievements .content {
    padding-top: 30px;
  }
  .our_achievements .accordion-list {
    padding-bottom: 30px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Sponsors
--------------------------------------------------------------*/

.sponsors .img-box {

}
.sponsors .img-box.animate {
  animation: enlarge 0.8s ease-in-out ;
  visibility: visible;
}

@keyframes enlarge {
  0% {
    transform: scale(0.2,0.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1,1);
    opacity: 1;
  }
}



.sponsors .front-img-box {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  padding: 0px;
}

/* Styles for the back side */
.sponsors .back-img-box {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  text-justify: center;
  padding: 0px;
  z-index: 15;
  visibility: hidden;
  transform: scale(0.1); /* Initially hide the back side */
  transition: transform 0.8s ease-in-out;
}

.sponsors .back-img-box h2 {
  font-size: 30px;
}

/* Scales the back */
.sponsors .img-box:hover .back-img-box{
  visibility: visible;
  transform: scale(1);
}

.sponsors .img-box:hover .front-img-box{
  visibility: hidden;
}

/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/

.team .front-img-box {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
}

/* Styles for the back side */
.team .back-img-box {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  transform: rotateY(180deg); /* Initially hide the back side */
}

/* Flip the box when hovered */
.team .img-box:hover {
  transform: rotateY(180deg);
}
.team .our_team img{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 340px;
  height: 340px;
}
.team #right, #left, #center {

}

.team #right.animate {
  animation: slide-right 0.8s ease-in-out ;
  visibility: visible;
}

@keyframes slide-right {
  0% {
    transform: scale(0.2) translate(300%, 50%);
  }
  100% {
    transform: scale(1) translateX(0%); 
  }
}

.team #left.animate {
  animation: slide-left 0.8s ease-in-out ;
  visibility: visible;
}

@keyframes slide-left {
  0% {
    transform: scale(0.2) translate(-300%, 50%);
  }
  100% {
    transform: scale(1) translateX(0%); 
  }
}

.team #center.animate {
  animation: slide-down 0.8s ease-in-out ;
  visibility: visible;
}

@keyframes slide-down {
  0% {
    transform: scale(0.2) translateZ(-300px) translateY(50%)
  }
  100% {
    transform: scale(1) translateZ(0%); 
  }
}
